:root {
	--main-txt-color1: black;
	--top-navbar-text: #f2f2f2;
	--top-navbar-bckg-active: #04AA6D;
	--top-navbar-bckg-hover: #ddf;
}

#nav_bar {
	position: fixed;
	background-color: #333;
	top: 0;
	left: 0;
	width: 100%;
}

#nav_bar a {
	float: left;
	display: inline-block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	color: var(--top-navbar-text);
}

#nav_bar a:hover {
  	background-color: var(--top-navbar-bckg-hover);
  	color: var(--main-txt-color1);
}

#nav_bar a.active {
  	background-color: var(--top-navbar-bckg-active);
  	color: white;
}

p {
	min-height: 800px;
}
